body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1077px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:43px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:98px;
  width:253px;
  height:42px;
  font-size:36px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1063px;
  height:1227px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:150px;
  width:1062px;
  height:1226px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-style:normal;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1058px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:43px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1400px;
  width:217px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:629px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:1452px;
  width:473px;
  height:628px;
  font-family:'宋体 Bold', '宋体 常规', '宋体';
  font-style:normal;
  text-align:left;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:469px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:456px;
  height:31px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:1895px;
  width:441px;
  height:5px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:31px;
  height:332px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:1738px;
  width:5px;
  height:316px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:132px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1746px;
  width:137px;
  height:131px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:132px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:1910px;
  width:97px;
  height:131px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:132px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1910px;
  width:113px;
  height:131px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:132px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:1746px;
  width:97px;
  height:131px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:43px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2108px;
  width:469px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:835px;
  height:193px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:2160px;
  width:834px;
  height:192px;
  text-align:left;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:830px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:58px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:13px;
  width:97px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
